<title>way2buzz</title>

<div class="block" >
    <div class="navbar-default sidebar" role="navigation">
        <div class="logoblock">
            <a href="/home"> <span class="enrich-logo icon-block"></span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="sidebar-nav navbar-collapse">
            <div class="user-profile">
                <div class="profile-image"><img src="{{profilepic}}"/> </div>
                <div class="profile-details">
                    <h3>{{username}}</h3>
                    <p class="profile-title">{{desi}}</p>
                </div>
            </div>
            <div class="sidemenu">
                <ul class="list-unstyled">
                    <li> <a href="" ng-click="my_Company_list(email)"><i class="icon-companies"></i> My Companies</a> </li>
                    <li> <a href="" ng-click="my_Contact_list(email)"><i class="icon-contacts"></i> My Contacts</a> </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Contentblock -->
    <div class="mainblock">
        <header class="header-nav">
            <div class="row">
                <div class="col-md-9 header-search-section">
                    <form class="" ng-submit="selector(search,data.unit)" >
                        <select class="dropdown"  ng-model="data.unit">
                            <option ng-selected="data.unit == item.id" ng-repeat="item in units" ng-value="item.id">{{item.label}}</option>
                        </select>
                        <autocomplete ng-model="search"  attr-placeholder="Company Search here..." click-activation="true"  data="companies" on-type="doSomething"
                         on-select="doSomethingElse" > </autocomplete>
                        <button type="button"   ng-click="selector(search)" class="search-btn"><i class="icon-search"></i></button>
                    </form>

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Advanced Search
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%">
                                <form class="form-control" ng-submit="advancedSearch(jobtitle,company,industry,location)">
                                    <label>JobTitle</label>

                                    <input type="text" ng-model="jobtitle">

                                    <label>Company</label>

                                    <input type="text" ng-model="company">

                                    <label>Industry</label>
                                    <input type="text" ng-model="industry">

                                    <label>Location</label>
                                    <input type="text" ng-model="location">


                                    <button style="width: 60px;height: 30px" type="button" value="Submit" class="btn-primary" ng-click="advancedSearch(jobtitle,company,industry,location)">Submit</button>
                                </form>
                            </div>
                        </div>

                </div>
                <div class="col-md-3">
                    <ul class="list-inline list-unstyled header-right">
                        <li><a href=""><i class="icon-notifcation"></i></a> </li>
                        <li><a href="" ng-click="logout()" ><i class="icon-logout-1"></i></a> </li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="container-fluid contentblock">
            <div class="main-wrapper">
                <div class="col-md-10">
                    <div class="left-colum">
                        <ul class="main-tabs margin-bottm-3">
                            <input  style="float:right" type="text" ng-show="cmplist.length" placeholder="Search..." ng-model="input">
                            <li  class="first-child"><a href="" ng-click="display_company_result(search)" class="active">Companies</a> </li>
                        </ul>
                   <div class="search-info">
                       <div class="margin-bottm-1 sm-title"><b>Showing {{comp.length}} companies</b></div>
                           <ul class="list-unstyled margin-bottm-2 list-content-mx visibility" dir-paginate=" cmp in comp= ( cmplist | filter: input) | itemsPerPage:5">
                               <blockquote class="{{classtypes[$index%len]}}">
                                   <li class="d-flex p-relative">
                                       <div class="media-content d-flex">
                                           <div class="info-content">
                                               <p><b><a href="" ng-click="display_employee_result(cmp._source)">{{cmp._source.name}}</a>  </b></p>
                                               <p>{{cmp._source.type[0]}}  {{cmp._source.empSize || 0}} Employees</p>
                                               <p ng-if="cmp._source.loc.ct||cmp._source.loc.cy"><b>Location: </b> {{cmp._source.loc.ct}}  {{cmp._source.loc.cy}} {{com._source.loc.pCode}} </p>
                                           </div>
                                       </div>
                                   </li>
                                   <div class="visibility-visible visible-sec">
                                       <a href="" class="btn btn-default btn-sm btn-small" ng-click="my_companies_save(cmp._source.cid,email)">Save</a>
                                   </div>
                               </blockquote>
                           </ul>
                   </div>
                    </div>

                </div>


                <div class="col-md-2 padding-right-0">
                    <div class="right-colum">
                        <img src="images/right-colum-bg.png" alt=""/>
                    </div>
                </div>

            </div>


            <div class="pagination-sec pull-right list-content-mx">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        <dir-pagination-controls>

                        </dir-pagination-controls>

                    </ul>
                </nav>

            </div>

        </section>
    </div>
</div>


