
<title>way2buzz</title>

<div class="block">
    <div class="navbar-default sidebar" role="navigation">
        <div class="logoblock">
           <a href="/home"> <span class="enrich-logo icon-block"></span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="sidebar-nav navbar-collapse">
            <div class="user-profile">
                <div class="profile-image"><img src="{{profilepic}}"/> </div>
                <div class="profile-details">
                    <h3>{{username}}</h3>
                    <p class="profile-title">{{desi}}</p>
                </div>
            </div>
            <div class="sidemenu">
                <ul class="list-unstyled">
                    <li> <a href="" ng-click="my_Company_list(email)"><i class="icon-companies"></i> My Companies</a> </li>
                    <li> <a href="" ng-click="my_Contact_list(email)"><i class="icon-contacts"></i> My Contacts</a> </li>
                </ul>
            </div>
        </div>
        <!--<p class="copyrights">&COPY; copyright by <b>way2enrich</b></p>-->
    </div>

    <!-- Contentblock -->
    <div class="mainblock">
        <header class="header-nav">
            <div class="row">
                <div class="col-md-9 header-search-section">

                    <form class="" ng-submit="selector(search,data.unit)" >
                        <select class="dropdown"  ng-model="data.unit">
                            <option ng-selected="data.unit == item.id" ng-repeat="item in units" ng-value="item.id">{{item.label}}</option>
                        </select>

                        <autocomplete ng-model="search"
                                      attr-placeholder="Company Search here..."
                                      click-activation="true"
                                      data="companies" on-type="doSomething" on-select="doSomethingElse" >
                        </autocomplete>

                        <button type="button"   ng-click="selector(search,data.unit)" class="search-btn"><i class="icon-search"></i></button>

                    </form>

                    <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Advanced Search
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%">
                                <form class="form-control" ng-submit="advancedSearch(jobtitle,company,industry,location)">
                                    <label>JobTitle</label>

                                    <input type="text" ng-model="jobtitle">

                                    <label>Company</label>

                                    <input type="text" ng-model="company">

                                    <label>Industry</label>
                                    <input type="text" ng-model="industry">

                                    <label>Location</label>
                                    <input type="text" ng-model="location">


                                    <button style="width: 60px;height: 30px" type="button" value="Submit" class="btn-primary" ng-click="advancedSearch(jobtitle,company,industry,location)">Submit</button>
                                </form>
                            </div>
                        </div>


                </div>
                <div class="col-md-3">
                    <ul class="list-inline list-unstyled header-right">
                        <li><a href=""><i class="icon-notifcation"></i></a> </li>
                        <li><a href="" ng-click="logout()" ><i class="icon-logout-1"></i></a> </li>
                    </ul>
                </div>
            </div>

        </header>
        <section class="container-fluid contentblock">
            <div class="main-wrapper">
                <div class="col-md-10">
                    <div class="left-colum">
                        <input  style="float:right" type="text" ng-show="emp_res.length"  placeholder="Search..."  ng-model="contact">

                        <ul class="main-tabs margin-bottm-3">
                            <li  class="first-child"><a href="" ng-click="display_company_result(search)" class="active">My Contacts</a> </li>

                        </ul>

                        <div class="search-info">
                            <div class="margin-bottm-1 sm-title"><b>Showing {{employ.length}} persons</b></div>
                            <ul class="list-unstyled margin-bottm-2 list-content-mx visibility" dir-paginate="emp in employ = ( emp_res | filter:contact)| itemsPerPage:5">
                                <li class="d-flex p-relative">
                                    <div class="d-flex margin-right-15">
                                        <img class="w-width-50 w-height-50" src="images/profilepic.png" alt=""/>
                                    </div>
                                    <div class="media-content d-flex">
                                        <div class="info-content">
                                            <p><b>Name:</b>{{emp._source.ename}}</p>
                                            <p><b>Designation: </b> {{emp._source.prfsn}} {{emp._source.Cname}}</p>
                                            <p ng-if="emp._source.loc.ct||emp._source.loc.cy"><b>Location: </b> {{emp._source.loc.cy || emp._source.loc.ct}}</p>
                                            <!--<p><b>Email:  </b> {{emp._source.mail}}</p>-->
                                        </div>
                                    </div>
                                </li>
                                <div class="visibility-visible visible-sec">
                                    <!--&lt;!&ndash;<a href="#" class="btn btn-default btn-sm btn-small">Display Contact</a>&ndash;&gt;-->
                                    <a href="" class="btn btn-default btn-sm btn-small" ng-click="delete_contact(email,emp._source.lid)">Remove </a>

                                </div>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-2 padding-right-0">
                    <div class="right-colum">
                        <img src="images/right-colum-bg.png" alt=""/>
                    </div>
                </div>
            </div>

            <div class="pagination-sec pull-right list-content-mx">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        <dir-pagination-controls>

                        </dir-pagination-controls>

                    </ul>
                </nav>
            </div>

        </section>
    </div>
</div>
